/***** GENERAL *****/
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #214263;
}
body {
	color: #000000;
	background: #888888;
}

.container {
	position: relative;
    margin: 40px auto;
	padding: 0px 0px 0px 0px;
	width: 310px;
}

table.simple {
	border: 1px dotted #211111;
	width: 100%;
}

td.info {
	text-align: left;
	border: 1px dotted #211111;
}
td.data {
	text-align: center;
	border: 1px dotted #211111;
}
td.final {
	text-align: right;
	border: 1px dotted #211111;
}
